@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import 'tailwindcss/theme' theme(reference);
@import '@fontsource-variable/inter';

:root {
	--radius: 0;
	--background: #faf5e6;
	--foreground: #14270f;
	--card: #fcf8ed;
	--card-foreground: #14270f;
	--popover: #fcf8ed;
	--popover-foreground: #14270f;
	--primary: #1e6626;
	--primary-foreground: #faf5e6;
	--secondary: #f2ebd9;
	--secondary-foreground: #1b451e;
	--muted: #ede8d9;
	--muted-foreground: #576953;
	--accent: #e9e2c4;
	--accent-foreground: #1b451e;
	--destructive: #cc272e;
	--border: #ddd8c2;
	--input: #ddd8c2;
	--ring: #1e6626;
	--chart-1: #1e6626;
	--chart-2: #008474;
	--chart-3: #9c7c0b;
	--chart-4: #147175;
	--chart-5: #6a7a31;
	--sidebar: #f8f2df;
	--sidebar-foreground: #14270f;
	--sidebar-primary: #1e6626;
	--sidebar-primary-foreground: #faf5e6;
	--sidebar-accent: #e9e2c4;
	--sidebar-accent-foreground: #1b451e;
	--sidebar-border: #ddd8c2;
	--sidebar-ring: #1e6626;
}

.dark {
	--background: #091509;
	--foreground: #ebe4d2;
	--card: #101f10;
	--card-foreground: #ebe4d2;
	--popover: #101f10;
	--popover-foreground: #ebe4d2;
	--primary: #c2ad61;
	--primary-foreground: #091b0a;
	--secondary: #172617;
	--secondary-foreground: #dcd7c9;
	--muted: #182619;
	--muted-foreground: #959074;
	--accent: #1c2e1c;
	--accent-foreground: #dcd7c9;
	--destructive: #d74745;
	--border: #213321;
	--input: #213321;
	--ring: #c2ad61;
	--chart-1: #76af77;
	--chart-2: #529f91;
	--chart-3: #c2ad61;
	--chart-4: #528b8e;
	--chart-5: #89975e;
	--sidebar: #0b1a0c;
	--sidebar-foreground: #ebe4d2;
	--sidebar-primary: #c2ad61;
	--sidebar-primary-foreground: #091b0a;
	--sidebar-accent: #1c2e1c;
	--sidebar-accent-foreground: #dcd7c9;
	--sidebar-border: #213321;
	--sidebar-ring: #c2ad61;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--font-sans: 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

@layer base {
	* {
		border-color: var(--border);
		outline-color: var(--ring);
	}
	body {
		background-color: var(--background);
		color: var(--foreground);
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
}
